<div style="padding-top: 100px;">
    <form class="ui large form" [formGroup]="loginForm" [ngClass]="{'loading': loading}" novalidate>
        <div class="ui segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="email" placeholder="E-mail address"
                           [formControl]="loginForm.controls['login']">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password"
                           [formControl]="loginForm.controls['password']">
                </div>
            </div>
            <button type="button" class="ui fluid large teal submit button"
                    (click)="submit()" [disabled]="!loginForm.valid">
                Login
            </button>
        </div>
    </form>

    <div class="ui message text-center">
        New to us? <a [routerLink]="['/sing-up']">Sign Up</a>
    </div>
</div>